/* Reset and base styles */
@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type=submit] {
  display: block;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  color: var(--titles-color);
  background-color: var(--light-color);
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 clamp(0.625rem, -0.982rem + 8.04vw, 6.25rem);
}

:root {
  --font-sans: "DM Sans", sans-serif;
  --font-rosario: "Rosario", sans-serif;
  --titles-color: #222;
  --paragraph-color: #555;
  --light-color: #fff;
  --dark-color: #000;
  --accent: #09a66d;
  --background-color: #f3fbf8;
  --background-dark: #09a66d;
  --background-light: #fcfefd;
  --mobile: 320px;
  --tablet-small: 480px;
  --tablet-big: 768px;
  --desktop-small: 1024px;
  --desktop-big: 1200px;
}

.visually--hidden {
  visibility: hidden;
  height: 0;
}

.fifteen {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fifteen__content--wrapper {
  max-width: 440px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}

.fifteen__title {
  text-align: center;
}

.fifteen__buttons--wrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.fifteen__button {
  width: calc(25% - 5px);
  height: calc(25% - 5px);
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.fifteen__button span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  border: 1px solid black;
  border-radius: 7px;
}

.fifteen__shuffle {
  min-width: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */