/* Reset and base styles */
@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type=submit] {
  display: block;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  color: var(--titles-color);
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.go-back__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 5px;
  -ms-flex-item-align: start;
      align-self: start;
  fill: #316068;
}
.go-back__link span {
  font-size: 14px;
  color: #316068;
}

.go-back__icon {
  width: 20px;
  height: 20px;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  opacity: 1;
  z-index: 50;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: clamp(18.75rem, 11.25rem + 37.5vw, 56.25rem);
  max-height: 500px;
  padding: clamp(2.5rem, 2rem + 2.5vw, 5rem);
  background: #1a7c27;
  -webkit-box-shadow: 2px 4px 4px rgba(2, 10, 5, 0.12), 1px 3px 3px rgba(1, 12, 7, 0.14), 1px 2px 1px rgba(2, 7, 3, 0.2);
          box-shadow: 2px 4px 4px rgba(2, 10, 5, 0.12), 1px 3px 3px rgba(1, 12, 7, 0.14), 1px 2px 1px rgba(2, 7, 3, 0.2);
  border-radius: 10px;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.modal__close {
  min-width: 100px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  background: #1ee4c9;
  cursor: pointer;
}

.modal__logo {
  width: clamp(6.25rem, 5rem + 6.25vw, 12.5rem);
  margin: 0 auto;
  fill: #cdd9db;
}

.modal__content {
  margin-top: clamp(0.938rem, 0.375rem + 2.81vw, 3.75rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.938rem, 0.75rem + 0.94vw, 1.875rem) 0;
}

.modal__content-text {
  font-size: clamp(1.125rem, 0.725rem + 2vw, 3.125rem);
  font-weight: 600;
  color: #cdd9db;
}

.section {
  width: 100%;
  height: 100dvh;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 clamp(0.625rem, -0.982rem + 8.04vw, 6.25rem);
}

.header {
  width: 100%;
  position: fixed;
}

.menu__burger {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu__burger {
    display: none;
  }
}

.header__menu--wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
  padding: 5px 20px;
}

.menu__heading {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
}

.menu__heading-title {
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(31, 172, 177);
}

.menu__nav {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  -webkit-transition: top 300ms ease-in-out;
  transition: top 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .menu__nav {
    position: static;
    padding-top: 0;
  }
}

.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0 30px;
  }
}

.nav__link-name {
  position: relative;
}
.nav__link-name::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 3px;
  background-color: rgb(31, 172, 177);
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.nav__link-name:hover::after, .nav__link-name:focus-visible::after, .nav__link-name--active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}
.nav__link span {
  font-size: 18px;
  font-weight: 500;
  color: rgb(31, 172, 177);
}

.games__wrapper {
  width: 100%;
  background-color: #222;
}

.games__list {
  width: clamp(18.75rem, 15rem + 18.75vw, 37.5rem);
  height: clamp(18.75rem, 15rem + 18.75vw, 37.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.games__item {
  -ms-flex-preferred-size: calc((100% - 20px) / 2);
      flex-basis: calc((100% - 20px) / 2);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}
.games__item:hover, .games__item:focus-visible {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.games__item--link {
  width: 100%;
}

.fifteen {
  width: 100%;
  min-height: 100lvh;
  height: 100%;
  padding-top: 20px;
  background-color: #191c1c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content--wrapper.gameShuffle {
  pointer-events: none;
  opacity: 0.7;
}

.fifteen__title {
  font-size: 24px;
  font-weight: 600;
  color: rgba(133, 240, 240, 0.884);
}

.fifteen__content--wrapper {
  max-width: 440px;
  margin: 20px auto 0 auto;
  padding: 5px;
  border-radius: 20px;
  background: linear-gradient(45deg, #244045, #2b4c52);
  -webkit-box-shadow: inset 0 0 6px 10px rgba(0, 0, 0, 0.2745098039);
          box-shadow: inset 0 0 6px 10px rgba(0, 0, 0, 0.2745098039);
}

.fifteen__title {
  text-align: center;
}

.fifteen__buttons--wrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.fifteen__button {
  width: calc(25% - 5px);
  height: calc(25% - 5px);
  padding: 1px;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  color: rgba(133, 240, 240, 0.884);
  border-radius: 20px;
  background: #344e53;
  -webkit-box-shadow: inset 24px -24px 47px #1f3033, inset -24px 24px 47px #2b4045;
          box-shadow: inset 24px -24px 47px #1f3033, inset -24px 24px 47px #2b4045;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fifteen__button span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  border: 1px solid #2b4c52;
  border-radius: 20px;
}

.fifteen__buttons--wrapper.fifteenWon .fifteen__button {
  background-color: #29ad6b;
}

.fifteen__shuffle {
  min-width: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  font-weight: 500;
  color: rgba(133, 240, 240, 0.884);
  border-radius: 10px;
  background: linear-gradient(45deg, #244045, #2b4c52);
  -webkit-box-shadow: 2px 2px 6px #192c30, 4px 4px 8px rgba(38, 67, 73, 0.5490196078);
          box-shadow: 2px 2px 6px #192c30, 4px 4px 8px rgba(38, 67, 73, 0.5490196078);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fifteen__shuffle:hover, s .fifteen__shuffle:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.fifteen__shuffle:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.timer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto 20px auto;
}

.timer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px clamp(0.625rem, -1.875rem + 12.5vw, 1.875rem);
  font-size: clamp(0.75rem, 0.25rem + 2.5vw, 1rem);
  color: rgba(133, 240, 240, 0.884);
}
.timer__wrapper span {
  color: rgb(196, 234, 236);
}

.timer__wrapper.beat__best-time span {
  color: #60da9d;
}

.timer__wrapper.no-beat__best-time span {
  color: #ec848d;
}

.timer__title {
  margin-right: 5px;
}

.time__dots {
  padding: 0 3px;
}

.match {
  width: 100%;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.match__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match__title {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
}

.match__counter--title {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.match__counter--wrapper {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
}

.match__counter--btn {
  color: #000;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.match__counter--btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.match__counter--btn .match__counter--icon {
  width: 32px;
  fill: currentColor;
}
.match__counter--btn.disabled {
  color: #a7a7a7;
}

.match__counter--count {
  width: 40px;
  height: 40px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.match__counter--info {
  margin-top: 5px;
  font-size: 12px;
}

.match__cards--list {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.match__cards--item {
  width: 60px;
  height: 60px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #ecf027;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.match__cards--item.active {
  background-color: #1ee4c9;
}
.match__cards--item.active .match__card--img {
  opacity: 1;
}
.match__cards--item.matched-cards {
  background-color: #1ee438;
}
.match__cards--item.matched-cards .match__card--img {
  opacity: 1;
}

.match__card--img {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}/*# sourceMappingURL=index.css.map */