@import '~node_modules/modern-normalize/modern-normalize.css';

html,
body {
  width: 100%;
  height: 100%;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  color: var(--titles-color);

  background-color: var(--light-color);

  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;

  padding-right: 15px;
}

.page__wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.main {
  flex-grow: 1;
}
