<header class="header">
  <div class="header__menu--wrapper">
    <div class="menu__heading">
      <img
        src="../assets/icons/menu.svg"
        alt="burger menu"
        width="32"
        height="32"
        class="menu__burger"
      />

      <h1 class="menu__heading-title">JS GAMES</h1>
    </div>

    <nav class="menu__nav">
      <ul class="nav__list">
        <!-- <li class="nav__item">
          <a href="#" class="nav__link"
            ><img
              src="../assets/images/cards.png"
              alt="blackjack"
              width="32"
              height="32"
              class="nav__link-icon"
            />
            <span class="nav__link-name">BlackJack</span>
          </a>
        </li> -->

        <li class="nav__item">
          <a href="#" class="nav__link"
            ><img
              src="../assets/images/15-puzzle.png"
              alt="fifteen"
              width="32"
              height="32"
              class="nav__link-icon"
            />
            <span class="nav__link-name">15 puzzle</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link"
            ><img
              src="../assets/images/rock-paper-scissors.png"
              alt="tic-tac-toe"
              width="32"
              height="32"
              class="nav__link-icon"
            />
            <span class="nav__link-name">Rock - Paper - Scissors</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
