<section class="fifteen">
  <div class="container">
    <h1 class="fifteen__title">15 puzzles</h1>
    <div class="fifteen__content--wrapper">
      <div class="fifteen__buttons--wrapper" id="fifteen">
        <button class="fifteen__button" data-matrix-id="1">1</button>
        <button class="fifteen__button" data-matrix-id="2">2</button>
        <button class="fifteen__button" data-matrix-id="3">3</button>
        <button class="fifteen__button" data-matrix-id="4">4</button>
        <button class="fifteen__button" data-matrix-id="5">5</button>
        <button class="fifteen__button" data-matrix-id="6">6</button>
        <button class="fifteen__button" data-matrix-id="7">7</button>
        <button class="fifteen__button" data-matrix-id="8">8</button>
        <button class="fifteen__button" data-matrix-id="9">9</button>
        <button class="fifteen__button" data-matrix-id="10">10</button>
        <button class="fifteen__button" data-matrix-id="11">11</button>
        <button class="fifteen__button" data-matrix-id="12">12</button>
        <button class="fifteen__button" data-matrix-id="13">13</button>
        <button class="fifteen__button" data-matrix-id="14">14</button>
        <button class="fifteen__button" data-matrix-id="15">15</button>
        <button class="fifteen__button" data-matrix-id="16">16</button>
      </div>
    </div>
    <button class="fifteen__shuffle">SHUFFLE</button>
  </div>
</section>
