<section class="fifteen">
  <div class="container content--wrapper">
    <a href="./index.html" class="go-back__link">
      <svg class="go-back__icon" viewBox="0 0 100 100">
        <path
          d="M50 11a39 39 0 1 0 39 39 39.05 39.05 0 0 0-39-39Zm12 42H45.24l3.88 3.88a3 3 0 0 1 0 4.24 3 3 0 0 1-4.24 0l-9-9a3.44 3.44 0 0 1-.38-.46l-.12-.22c-.05-.1-.11-.19-.15-.29s-.06-.2-.09-.3a2.58 2.58 0 0 1-.08-.26 2.93 2.93 0 0 1 0-1.18 2.58 2.58 0 0 1 .08-.26c0-.1 0-.2.09-.3s.1-.19.15-.29l.12-.22a3.44 3.44 0 0 1 .38-.46l9-9a3 3 0 0 1 4.24 4.24L45.24 47H62a3 3 0 0 1 0 6Z"
        />
      </svg>
      <span>BACK</span>
    </a>

    <h1 class="fifteen__title">15 puzzles</h1>
    <div class="fifteen__content--wrapper">
      <!-- Number Buttons -->
      <div class="fifteen__buttons--wrapper" id="fifteen">
        <button
          class="fifteen__button"
          data-matrix-id="1"
          aria-label="number 1"
        >
          <span>1</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="2"
          aria-label="number 2"
        >
          <span>2</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="3"
          aria-label="number 3"
        >
          <span>3</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="4"
          aria-label="number 4"
        >
          <span>4</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="5"
          aria-label="number 5"
        >
          <span>5</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="6"
          aria-label="number 6"
        >
          <span>6</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="7"
          aria-label="number 7"
        >
          <span>7</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="8"
          aria-label="number 8"
        >
          <span>8</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="9"
          aria-label="number 9"
        >
          <span>9</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="10"
          aria-label="number 10"
        >
          <span>10</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="11"
          aria-label="number 11"
        >
          <span>11</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="12"
          aria-label="number 12"
        >
          <span>12</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="13"
          aria-label="number 13"
        >
          <span>13</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="14"
          aria-label="number 14"
        >
          <span>14</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="15"
          aria-label="number 15"
        >
          <span>15</span>
        </button>
        <button
          class="fifteen__button"
          data-matrix-id="16"
          aria-label="number 16"
        >
          <span>16</span>
        </button>
      </div>
    </div>

    <!-- Timer -->
    <div class="timer__container">
      <div class="timer__wrapper">
        <p class="timer__title">Current time:</p>

        <span class="time__m" id="current-m">00</span>
        <span class="time__dots">:</span>
        <span class="time__s" id="current-s">00</span>
        <span class="time__dots">:</span>
        <span class="time__ms" id="current-ms">00</span>
      </div>

      <div class="timer__wrapper">
        <p class="timer__title">Best time:</p>

        <span class="time__m" id="best-m"></span>
        <span class="time__dots">:</span>
        <span class="time__s" id="best-s"></span>
        <span class="time__dots">:</span>
        <span class="time__ms" id="best-ms"></span>
      </div>
    </div>

    <!-- Shuffle Button -->
    <button class="fifteen__shuffle" id="shuffle" aria-label="shuffle">
      SHUFFLE
    </button>
  </div>
</section>
