<section class="fifteen">
  <div class="container">
    <h1 class="fifteen__title">15 puzzles</h1>
    <div class="fifteen__content--wrapper">
      <div class="fifteen__buttons--wrapper" id="fifteen">
        <button class="fifteen__button">1</button>
        <button class="fifteen__button">2</button>
        <button class="fifteen__button">3</button>
        <button class="fifteen__button">4</button>
        <button class="fifteen__button">5</button>
        <button class="fifteen__button">6</button>
        <button class="fifteen__button">7</button>
        <button class="fifteen__button">8</button>
        <button class="fifteen__button">9</button>
        <button class="fifteen__button">10</button>
        <button class="fifteen__button">11</button>
        <button class="fifteen__button">12</button>
        <button class="fifteen__button">13</button>
        <button class="fifteen__button">14</button>
        <button class="fifteen__button">15</button>
        <button class="fifteen__button">16</button>
      </div>
    </div>
    <button class="fifteen__shuffle">SHUFFLE</button>
  </div>
</section>
