<section class="section games__wrapper">
  <ul class="games__list">
    <li class="games__item">
      <a href="./fifteen-page.html" class="games__item--link">
        <img
          src="../assets/images/fifteen.jpg"
          alt=""
          class="games__item--img"
        />
      </a>
    </li>
    <li class="games__item">
      <a href="./match-game.html" class="games__item--link">
        <img
          src="../assets/images/match2.jpg"
          alt=""
          class="games__item--img"
        />
      </a>
    </li>
    <li class="games__item">
      <a href="./tetris-page.html" class="games__item--link">
        <img
          src="../assets/images/tetris.jpg"
          alt=""
          class="games__item--img"
        />
      </a>
    </li>
    <li class="games__item">
      <a href="./tic-tac-toe-page.html" class="games__item--link">
        <img
          src="../assets/images/tic-tac.jpg"
          alt=""
          class="games__item--img"
        />
      </a>
    </li>
  </ul>
</section>
