.fifteen {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  padding-top: 50px;

  background-color: #39626a;

  user-select: none;
}

.content--wrapper.gameShuffle {
  pointer-events: none;
  opacity: 0.7;
}

.fifteen__title {
  font-size: 24px;
  font-weight: 600;
  color: rgba(133, 240, 240, 0.884);
}

.fifteen__content--wrapper {
  max-width: 440px;

  margin: 20px auto 0 auto;
  padding: 5px;

  border-radius: 20px;
  background: linear-gradient(45deg, #244045, #2b4c52);
  box-shadow: 4px -4px 6px #1c3135c2, -8px 8px 16px #2e5259;
}

.fifteen__title {
  text-align: center;
}

.fifteen__buttons--wrapper {
  width: 100%;

  padding-bottom: 100%;

  position: relative;
}

.fifteen__button {
  width: calc(25% - 5px);
  height: calc(25% - 5px);

  padding: 1px;

  position: absolute;
  top: 0;
  left: 0;

  font-weight: 600;
  color: rgba(133, 240, 240, 0.884);

  border-radius: 20px;
  background: #344e53;
  box-shadow: inset 24px -24px 47px #1f3033, inset -24px 24px 47px #2b4045;

  transition: all 0.3s ease-in-out;

  & span {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;

    border: 1px solid #2b4c52;
    border-radius: 20px;
  }
}

.fifteen__buttons--wrapper.fifteenWon .fifteen__button {
  background-color: #29ad6b;
}

.fifteen__shuffle {
  min-width: 100px;

  margin: 0 auto;
  padding: 10px 20px;

  font-weight: 500;
  color: rgba(133, 240, 240, 0.884);

  border-radius: 10px;
  background: linear-gradient(45deg, #244045, #2b4c52);
  box-shadow: 2px -2px 6px #192c30, -4px 4px 8px #2643498c;

  transition: all 0.3s ease;

  &:hover,
  s &:focus {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

// ========= Timer =========

.timer__container {
  display: flex;
  justify-content: center;

  margin: 10px auto 20px auto;
}

.timer__wrapper {
  display: flex;
  justify-content: center;
  padding: 5px clamp(0.625rem, -1.875rem + 12.5vw, 1.875rem);

  font-size: clamp(0.75rem, 0.25rem + 2.5vw, 1rem);
  color: rgba(133, 240, 240, 0.884);

  & span {
    color: rgb(196, 234, 236);
  }
}

.timer__wrapper.beat__best-time span {
  color: #60da9d;
}
.timer__wrapper.no-beat__best-time span {
  color: #ec848d;
}

.timer__title {
  margin-right: 5px;
}

.time__dots {
  padding: 0 3px;
}
