.tictactoe {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;

  padding: 10px;

  display: flex;
  flex-direction: column;

  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tictactoe__wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tictactoe__title {
  font-size: clamp(1.375rem, 1.025rem + 1.75vw, 3.125rem); // 22 - 50
  font-weight: 500;
}

// ============== Opponent Choise =============
.opponent__choise--title {
  margin-top: 20px;

  font-size: clamp(0.75rem, 0.675rem + 0.38vw, 1.125rem); // 12 - 18
  font-weight: 600;
  color: #fff;
}

.opponent__list {
  margin-top: 10px;

  display: flex;
  justify-content: center;
  gap: 0 10px;
}

.opponent__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 6px;

  overflow: hidden;

  cursor: pointer;

  &:hover,
  &:focus-visible .opponent__item--img {
    opacity: 1;
  }

  &.active .opponent__item--img {
    border: 4px solid #0db0f0;

    opacity: 1;
  }
}

.opponent__item--img {
  width: clamp(3.75rem, 3.25rem + 2.5vw, 6.25rem); // 60 - 100
  height: clamp(3.75rem, 3.25rem + 2.5vw, 6.25rem); // 60 - 100

  opacity: 0.7;

  box-shadow: 2px 2px 8px #192c30, 4px 4px 10px #2643498c;

  transition: all 0.3s ease;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}

.opponent__level {
  margin-top: 10px;

  font-size: clamp(0.75rem, 0.675rem + 0.38vw, 1.125rem); // 12 - 18
  font-weight: 600;

  &.easy {
    color: #42ee84;
  }

  &.hard {
    color: #f02424;
  }
}

// =============== Game Field ================
.titactoe__field {
  margin-top: clamp(0.938rem, 0.75rem + 0.94vw, 1.875rem); // 15 - 30

  width: clamp(18.75rem, 15rem + 18.75vw, 37.5rem); // 300 - 600
  height: clamp(18.75rem, 15rem + 18.75vw, 37.5rem); // 300 - 600

  display: flex;
  flex-wrap: wrap;
  gap: clamp(0.313rem, 0.188rem + 0.63vw, 0.938rem); // 5 - 15

  //   background-image: url('../assets/images/tic-tac-toe/tic-tac-toe-bg.jpg');
  //   background-repeat: no-repeat;
  //   background-size: cover;

  box-shadow: 3px 3px 8px #192c30, 6px 6px 10px #2643498c;
}

.tictactoe__cell {
  width: calc((100% - clamp(0.313rem, 0.188rem + 0.63vw, 0.938rem) * 2) / 3);
  height: calc((100% - clamp(0.313rem, 0.188rem + 0.63vw, 0.938rem) * 2) / 3);

  border: 1px solid #fff;

  cursor: pointer;
}

// =================== Score ==================
.tictactoe__score {
  margin-top: 20px;

  display: flex;
  gap: 0 40px;
}

.score__wrapper {
  display: flex;
  align-items: flex-end;
  gap: 0 10px;

  &.draw {
    margin-top: 10px;
  }
}

.score__text {
  font-size: clamp(0.75rem, 0.675rem + 0.38vw, 1.125rem); // 12 - 18
  font-weight: 500;
  color: #e9e9e9;
}

.score__value {
  font-size: clamp(1rem, 0.925rem + 0.38vw, 1.375rem); // 16 - 22
  font-weight: 600;
  color: #e0e0e0;
}
